header
{
  background-color: var(--beige-clr);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 32px 250px 32px 0;
  z-index: 20;
}
header nav
{
  float: right;
  display: flex;
  align-items: center;
  gap: 50px;
}
header nav a
{
  color: var(--dark-brown-clr);
  font-size: var(--font-size-24);
  text-transform: uppercase;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  border-bottom: 3px solid transparent;
}
header nav a::after
{
  content: "";
  position: absolute;
  height: 3px;
  left: 50%;
  bottom: 0;
  width: 0;
  background-color: var(--dark-brown-clr);
  transition: width 0.2s, left 0.2s;
}
header nav a:not(.active-link)::after
{
  content: "";
  position: absolute;
  height: 3px;
  left: 50%;
  bottom: 0;
  width: 0;
  background-color: var(--dark-brown-clr);
  transition: width 0.2s, left 0.2s;
}
header nav a:not(.active-link)::before
{
  content: "";
  position: absolute;
  height: 3px;
  right: 50%;
  bottom: 0;
  width: 0;
  background-color: var(--dark-brown-clr);
  transition: width 0.2s, right 0.2s;
}
header nav a:not(.active-link):hover::after
{
  width: 50%;
  left: 0;
}
header nav a:not(.active-link):hover::before
{
  width: 50%;
  right: 0;
}
header nav a.active-link
{
    border-bottom: 3px solid var(--dark-brown-clr);
}
header .logo
{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  left: 150px;
  top: 0;
}
header .logo img
{
  width: 100%;
  height: 100%;
}
header .logo::before
{
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.5s;
}
header .logo:hover::before
{
  left: 250px;
}
.header-scroll
{
  padding: 16px 250px;
  box-shadow: 0 0 10px var(--black-clr);
}
.header-scroll .logo
{
  width: 150px;
  height: 150px;
}
.header-scroll .logo img
{
  width: 100%;
  height: 100%;
}
