.coffe-panel-section
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 40px 40px;
    background-color: var(--beige-clr);
}
.coffe-panel
{
    width: 100%;
    height: 520px;
    background-color: var(--dark-brown-clr);
    position: relative;
}
.coffe-panel:hover
{
    background-image: url(../../../assets/images/coffe-panel.png);
    background-size: 100%;
    animation: 1s linear coffePanelAnim;
}
.coffe-panel h4
{
    font-size: 50px;
    font-weight: 300;
    position: absolute;
}
.coffe-panel h4.text
{
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 0px #00000069;
}
.coffe-panel:hover h4.text
{
    opacity: 0;
}
.coffe-panel h4.hover
{
    top: 14px;
    left: 14px;
    opacity: 0;
    color: var(--dark-brown-clr);
}
.coffe-panel:hover h4.hover
{
    opacity: 1;
}
@keyframes coffePanelAnim
{
    0%
    {
        opacity: 0;
    }   
    100%
    {
        opacity: 1;
    }
}