.menu-item {
  width: fit-content;
}
.menu-item .menu-item-image {
  width: 100%;
  overflow: hidden;
}
.menu-item .menu-item-image img {
  width: 100%;
}
.menu-item .menu-item-body {
  text-align: center;
}
.menu-item .menu-item-image {
  margin: auto;
}
.menu-item .menu-item-body .name {
  color: var(--dark-brown-clr);
  font-size: var(--font-size-22);
  margin-top: 20px;
}
.menu-item:hover img {
  transform: scale(1.2);
}
.menu-item:hover .name {
  letter-spacing: 2px;
}
