.menu-item {
  width: fit-content;
}
.menu-item .menu-item-image {
  width: 100%;
  overflow: hidden;
  border-radius: 0 160px 0 160px;
  border: 10px solid var(--dark-brown-clr);
  border-top: 1px;
  border-bottom: 1px;
}
.menu-item .menu-item-image img {
  width: 100%;
}
.menu-item .menu-item-body {
  text-align: center;
}
.menu-item .menu-item-image {
  margin: auto;
}
.menu-item .menu-item-body .name {
  color: var(--dark-brown-clr);
  font-size: var(--font-size-22);
  margin-top: 20px;
}
.menu-item:hover img {
  transform: scale(1.1);
}
.menu-item:hover .menu-item-image {
  border: transparent;
}
.menu-item:hover .name {
  letter-spacing: 2px;
}
