.menu-item
{
    width: fit-content;
}
.menu-item .menu-item-image
{
    width: 100%;
}
.menu-item .menu-item-body
{
    text-align: center;
}
.menu-item .menu-item-body a
{
    color: var(--dark-brown-clr);
    font-size: var(--font-size-22);
}
.menu-item .menu-item-image
{
    margin: auto;
}